<div class="profile-box">
    <div class="left-panel">
        <div role="presentation" style="border-bottom: 1px solid lightgrey;padding: 10px;"
            [ngClass]="{'selected-tab': currentTab=='profile', 'other-tab': currentTab!='profile'}">
            <a (click)="currentTab='profile'">Profile</a>
        </div>
        <div class="selected" *ngIf="currentTab=='profile'">
            <mat-icon>></mat-icon>
        </div>
        <div role="presentation" style="border-bottom: 1px solid lightgrey;padding: 10px;"
        [ngClass]="{'selected-tab': currentTab=='posts', 'other-tab': currentTab!='posts'}">
            <a (click)="currentTab='posts'">Posts</a>
        </div>
        <div class="selected" *ngIf="currentTab=='posts'">
            <mat-icon>></mat-icon>
        </div>
        <div role="presentation" style="border-bottom: 1px solid lightgrey;padding: 10px;"
        [ngClass]="{'selected-tab': currentTab=='gallery', 'other-tab': currentTab!='gallery'}">
            <a (click)="currentTab='gallery'">Gallery</a>
        </div>
        <div class="selected" *ngIf="currentTab=='gallery'">
            <mat-icon>></mat-icon>
        </div>
        <div role="presentation" style="padding: 10px;" 
        [ngClass]="{'selected-tab': currentTab=='todo', 'other-tab': currentTab!='todo'}">
            <a (click)="currentTab='todo'" >Todo</a>
        </div>
        <div class="selected" *ngIf="currentTab=='todo'">
            <mat-icon>></mat-icon>
        </div>
    </div >
    <div class="right-panel">
        <div *ngIf="currentTab=='profile'">
            <app-profile [currentUser]="currentUser"></app-profile>
        </div>
        <div *ngIf="currentTab=='posts'">
            <app-posts [currentUser]="currentUser"></app-posts>
        </div>
        <div *ngIf="currentTab=='gallery'">
            <app-gallery [currentUser]="currentUser"></app-gallery>
        </div>
        <div *ngIf="currentTab=='todo'">
            <app-todo [currentUser]="currentUser"></app-todo>
        </div>
    </div>
</div>

<div class="chatwrapper" >
    
    <div class="chatbox " (click)="expanded = !expanded">
        Chats
        <p class="arrow-p-style"><i class="arrow up"></i></p>
    </div>
    <div class="chatcontents scrollbar " *ngIf="expanded"  >
        <p class="arrow-p-style"><i class="arrow down"></i></p>
        <div class="chatUser" *ngFor="let user of otherUsers" (click)="openChat(user)">
            <img [src]="user.profilepicture" class="profile-img">
            <div class="example-dd">{{user.name}}</div>
            <div class="online-indicator"> </div>
        </div>
    </div>
</div>

<div class="user-chat-box" [ngStyle]="{'right': getRightMargin(index)}" *ngFor="let userChat of openChats; let index = index;">
    <div class="chatbox" (click)="userChat.expanded = !userChat.expanded">
        <img [src]="userChat.profilepicture" class="profile-img">
        {{userChat.name}}
    </div>
    <div class="chatcontents" style="height: 100px;" *ngIf="userChat.expanded">
        <div>
            <div class="message-background"> 
                Lorem ipsum dolor sit amet, consectetur
            </div>
        </div>
        <div>
            <div class="message-background"> 
                Lorem ipsum dolor sit.
            </div>
        </div>
    </div>
</div>