.profile-box {
  display: flex;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  font-size: larger;
  padding-top: 40px;
  min-height: 100vh;
}

.left-panel {
  width: 20%;
  background: rgb(57, 90, 200);
  background: linear-gradient(
    180deg,
    rgba(57, 90, 200, 1) 0%,
    rgba(93, 60, 200, 1) 100%
  );
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 160px;
  min-height: 70vh;
  border-radius: 20px;
  color: white;
}

.right-panel {
  width: 90%;
  min-height: 70vh;
  padding-left: 45px;
}

.selected-tab {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.other-tab {
  color: lightgrey;
  cursor: pointer;
  font-weight: bold;
}

.selected {
  height: 25px;
  display: block;
  position: relative;
  top: -30px;
  color: red;
  z-index: 100;
  background: white;
  float: right;
  width: 30px;
  right: -37px;
  border-radius: 10px;
  color: grey;
  padding-left: 7px;
}

.chatbox {
  height: 40px;
  background: royalblue;
  border-top-right-radius: 10px;
  cursor: pointer;
  border-top-left-radius: 10px;
  text-align: center;
  color: white;
  margin: auto;
  padding: 8px;
  display: flex;
  padding-right: 21px;
}

.chatwrapper {
  position: fixed;
  right: 40px;
  float: right;
  bottom: 0px;
  width: 240px;
  border: royalblue 1px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.chatcontents {
  height: 250px;
  background-color: white;
  overflow-y: scroll;
}

.chatbox-username {
  color: black;
  padding: 3px;
  font-size: inherit;
  cursor: pointer;
  padding-right: 4px;
  min-width: 158px;
}

.online-indicator {
  background-color: rgb(50, 218, 140);
  float: right;
  border-radius: 50%;
  width: 8px;
  height: 9px;
  right: 25px;
  float: right;
  margin-top: 10px;
}

/* .scrollbar {
  
  height: 75%;
  padding-left: 5%;
  padding-right: 5%;
}


.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
} */

.profile-img {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.chatUser {
  display: flex;
  padding: 8px;
}

.user-chat-box {
  position: fixed;
  right: 40px;
  float: right;
  bottom: 0px;
  width: 240px;
  border: royalblue 1px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.arrow-p-style {
  float: right;
  right: -118px;
  position: relative;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-p-style-chats {
  float: right;
  right: 10px;
  position: absolute;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.contacts_message-background {
  background-color: rgb(231, 238, 243);
  padding: 10px;
  margin: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 43px;
  font-size: 11px;
}
.user_message-background {
  background-color: rgb(231, 238, 243);
  padding: 10px;
  margin: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 43px;
  font-size: 11px;
}

.chat-icon {
  color: white;
  min-width: 25px;
  margin-right: 18px;
}

.chat-input {
  background-color: white;
  width: 238px;
  border: 0ch;
  border: grey 0.1px solid;
  outline-width: 0px;
}
